
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                @if (DataCollection.ManageSession.SessionManager.IsUserLogin != null && DataCollection.ManageSession.SessionManager.IsUserLogin == true
                                && DataCollection.ManageSession.SessionManager.MenuList != null && DataCollection.ManageSession.SessionManager.MenuList.Count > 0)
                {
                    foreach (DataCollection.Models.MenuID Menu in DataCollection.ManageSession.SessionManager.MenuList)
                    {
                        <li>
                            <a class="navnew" href="@Menu.MenuUrl">@Menu.MenuDetails</a>
                        </li>
                    }
                }

                @if (DataCollection.ManageSession.SessionManager.IsUserLogin != null && DataCollection.ManageSession.SessionManager.IsUserLogin == true)
                {
                    <li>@Html.ActionLink("CHANGE PASSWORD", "ChangePassword", "User", null, new { @class = "navnew" }) </li>
                    <li>@Html.ActionLink("LOGOUT", "Logout", "User", null, new { @class = "navnew" }) </li>
                }
                else
                {
                    <li>@Html.ActionLink("LOGIN", "Login", "User", null, new { @class = "navnew login" }) </li>
                    <li>@Html.ActionLink("NEW USER REGISTRATION", "Registration", "User", null, new { @class = "navnew Register" }) </li>
                }
            </ul>
        </div>
    </div>
</div>
@if (DataCollection.ManageSession.SessionManager.IsUserLogin != null && DataCollection.ManageSession.SessionManager.IsUserLogin == true)
{
    <marquee id="marquee" class="no-print" style="color:  #933; font-size: medium; font-weight:bold;"></marquee>

    //if (DataCollection.ManageSession.SessionManager.UserRole == DataAccess.Enum.UserRoles.User.ToString())
    //{
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="no-hover" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navnew">User: @DataCollection.ManageSession.SessionManager.UserName</a></li>
                        <li><a class="navnew">Department: @((string)typeof(DataAccess.Enum.DeptEnumClass).GetField(DataCollection.ManageSession.SessionManager.DeptID.ToUpper()).GetValue(null))</a></li>
                        <li><a class="navnew">Role: @DataCollection.ManageSession.SessionManager.UserWork</a></li>
                        <li><a class="navnew">Data Captured for :</a></li>
                        <li>
                            <select id="DataCaptYM" style="border: 1px solid rgb(169, 169, 169); margin: 10px 10px 0 0;" class="btn btn-secondary dropdown-toggle">
                                <option value="0">-Select-</option>
                                <option value="201801">Jan-2018</option>
                                <option value="201804">Jul-2018</option>
                                <option value="201807">Dec-2018</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    //}
}