
<style>
    .navbar-default .navbar-nav > .active > a {
        padding-bottom: 20px;
    }
</style>

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div id="myNavbar">
            <iframe src="http://free.timeanddate.com/clock/i6irzh4z/n1860/tlin/fn16/fs18/fc00f/tct/pct/ftb/pa8/tt0/tw1/tm1/th1/tb4" frameborder="0" width="172" height="58" allowtransparency="true"></iframe>
             <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated && DataCollection.ManageSession.SessionManager.IsUserLogin == true
                                && DataCollection.ManageSession.SessionManager.MenuList != null && DataCollection.ManageSession.SessionManager.MenuList.Count > 0)
                {
                    if (DataCollection.ManageSession.SessionManager.UserRole.ToLower() == DataAccess.Enum.UserRoles.User.ToString().ToLower() &&
                        DataCollection.ManageSession.SessionManager.UserWork != DataAccess.Enum.UserWork.DSRIC.ToString() &&
                        DataCollection.ManageSession.SessionManager.UserWork != DataAccess.Enum.UserWork.ADSRIC.ToString())
                    { 
                        foreach (DataCollection.Models.MenuID Menu in DataCollection.ManageSession.SessionManager.MenuList)
                        {
                            string a = (Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower() == Menu.MenuUrl.ToLower() ? "class=active" : "");
                            <li @a>
                                <a class="navnew" href="@Menu.MenuUrl">@Menu.MenuDetails</a>
                            </li>
                        }
                    }
                    else
                    {
                        foreach (DataCollection.Models.MenuID Menu in DataCollection.ManageSession.SessionManager.MenuList.Where(a => a.IsAdminMenu == true).ToList())
                        {
                            string a = (Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower() == Menu.MenuUrl.ToLower() ? "class=active" : "");
                            <li @a>                            
                                <a class="navnew" href="@Menu.MenuUrl">@Menu.MenuDetails</a>
                            </li>
                        }
                    }
                }

                @if (User.Identity.IsAuthenticated && DataCollection.ManageSession.SessionManager.IsUserLogin == true)
                {   
                    <li id="ChangePassword">@Html.ActionLink("CHANGE PASSWORD", "ChangePassword", "User", null, new { @class = "navnew" }) </li>
                    <li id="Logout">@Html.ActionLink("LOGOUT", "Logout", "User", null, new { @class = "navnew" }) </li>
                }
                else
                {
                    <li id="Contact">@Html.ActionLink("CONTACT US", "Index", "Contact", null, new { @class = "navnew" }) </li>
                    <li id="AboutUs">@Html.ActionLink("ABOUT US", "Index", "AboutUs", null, new { @class = "navnew" }) </li>
                    <li id="Login">@Html.ActionLink("LOGIN", "Login", "User", null, new { @class = "navnew login" }) </li>
                    <li id="Registration">@Html.ActionLink("NEW USER REGISTRATION", "Registration", "User", null, new { @class = "navnew Register" }) </li>
                }
            </ul>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated && DataCollection.ManageSession.SessionManager.IsUserLogin == true)
{
    <marquee id="marquee" class="no-print" style="color:  #933; font-size: medium; font-weight:bold;"></marquee>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="no-hover" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navnew">User: @DataCollection.ManageSession.SessionManager.UserName</a></li>
                    @if (DataCollection.ManageSession.SessionManager.UserRole.ToLower() == DataAccess.Enum.UserRoles.User.ToString().ToLower())
                    {
                        <li><a class="navnew">Role: @DataCollection.ManageSession.SessionManager.UserWork</a></li>
                    }
                    
                    @if ((DataCollection.ManageSession.SessionManager.UserRole.ToLower() == DataAccess.Enum.UserRoles.Admin.ToString().ToLower() ||
                        DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DSRIC.ToString() ||
                        DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.ADSRIC.ToString())
                        && @Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower() != "/Admin/ReportsForm".ToString().ToLower())
                    {
                    <li><a class="navnew">Select Menu:</a></li>
                    <li>
                        <select id="MenuSelect" onchange="MenuChange();" style="border: 1px solid rgb(169, 169, 169); margin: 10px 10px 0 0; float: left;" class="btn btn-secondary dropdown-toggle">
                            <option value="">-- select --</option>
                            @foreach (DataCollection.Models.MenuID Menu in DataCollection.ManageSession.SessionManager.MenuList.Where(a => a.IsAdminMenu == false).ToList())
                            {
                                <option value="@Menu.MenuUrl">@Menu.MenuDetails</option>
                            }
                        </select>
                    </li>                        
                    }
                    
                    @if (Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower() != "/Admin/ReportsForm".ToString().ToLower()) 
                    { 
                        if (DataCollection.ManageSession.SessionManager.UserRole == DataAccess.Enum.UserRoles.User.ToString() &&
                            DataCollection.ManageSession.SessionManager.UserWork != DataAccess.Enum.UserWork.DSRIC.ToString() &&
                            DataCollection.ManageSession.SessionManager.UserWork != DataAccess.Enum.UserWork.ADSRIC.ToString())
                        {
                            <li><a class="navnew">Department: @((string)typeof(DataAccess.Enum.DeptEnumClass).GetField(DataCollection.ManageSession.SessionManager.DeptID.ToUpper()).GetValue(null))</a></li>
                        }
                        else
                        {
                            <li><a class="navnew">Department: </a></li>
                            <li><select id="DepartmentsDDL" style="border: 1px solid rgb(169, 169, 169); margin: 10px 10px 0 0; width: 165px;" class="btn btn-secondary dropdown-toggle"></select></li>
                        }

                        <li><a class="navnew">Data Captured for :</a></li>
                        <li>
                            <select id="DataCaptYM" style="border: 1px solid rgb(169, 169, 169); margin: 10px 10px 0 0; width: 180px; font-size: 12px;" class="btn btn-secondary dropdown-toggle">
                                <option value="0">-Select-</option>
                                <option value="201801">Calendar Year :Jan-2018</option>
                                <option value="201804">Financial Year :Apr-2018</option>
                                <option value="201807">Academic Year :Jul-2018</option>
                            </select>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        if ('@DataCollection.ManageSession.SessionManager.UserRole.ToLower()' == '@DataAccess.Enum.UserRoles.Admin.ToString().ToLower()' ||
            '@DataCollection.ManageSession.SessionManager.UserWork' == '@DataAccess.Enum.UserWork.DSRIC.ToString()' ||
            '@DataCollection.ManageSession.SessionManager.UserWork' == '@DataAccess.Enum.UserWork.ADSRIC.ToString()') {
            $.post("/Forms/GetDepartmentList", null,
            function (data) {
                $("#DepartmentsDDL").append($('<option></option>').text("-- Select --").val("0"));
                $.each(data, function (index, item) { // item is now an object containing properties ID and Text
                    $("#DepartmentsDDL").append($('<option></option>').text(item.Text).val(item.Value));
                });
                if ($("#DepartmentsDDL").find("[value='@DataCollection.ManageSession.SessionManager.DeptID']").length > 0) {
                    $("#DepartmentsDDL").val('@DataCollection.ManageSession.SessionManager.DeptID');
                }
            });

            if ('@Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower()' != ('/Admin/ReportsForm').toLowerCase() &&
                '@Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower()' != ('/Admin/Index').toLowerCase() &&
                '@Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower()' != ('/User/ChangePassword').toLowerCase() &&
                '@Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower()' != ('/Admin/RankMessage').toLowerCase() && 
                '@Url.RequestContext.HttpContext.Request.Url.LocalPath.ToLower()' != ('/Admin/Table').toLowerCase()) {
                var CurrentMenu = sessionStorage.getItem("CurrentMenu");
                if (CurrentMenu == null || CurrentMenu == "") {
                    $("#MenuSelect").val($("#MenuSelect option:first").val());
                } else {
                    $("#MenuSelect").val(CurrentMenu);
                }
                if (CurrentMenu != null && CurrentMenu != '' && '@Url.RequestContext.HttpContext.Request.Url.LocalPath' != CurrentMenu) {
                    window.location = CurrentMenu;
                }
            }
        }

        $("#DepartmentsDDL").change(function () {
            getDataCaptYearData();
        });
    });

    var MenuConstant = {
        DeptId: '@DataCollection.ManageSession.SessionManager.DeptID',
        IsAdmin: ('@DataCollection.ManageSession.SessionManager.UserRole.ToLower()' == '@DataAccess.Enum.UserRoles.Admin.ToString().ToLower()' ||
                  '@DataCollection.ManageSession.SessionManager.UserWork' == '@DataAccess.Enum.UserWork.DSRIC.ToString()' ||
                  '@DataCollection.ManageSession.SessionManager.UserWork' == '@DataAccess.Enum.UserWork.ADSRIC.ToString()')
    };

    function MenuChange() {
        var menuUrl = $("#MenuSelect").val();
        sessionStorage.setItem("CurrentMenu", menuUrl);
        window.location = menuUrl;
    }
</script>