@model DataCollection.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/registration.css" rel="stylesheet" />

<div class="login-form signup-form">
    @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        //@Html.AntiForgeryToken()
        <h2 class="text-center">Log in</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (ViewBag.Message != null && ViewBag.Message != "")
        {
                        
            if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                <div class="alert alert-success">
                    <strong>Success! </strong>@ViewBag.Message                
                </div>
            }
        
            if (ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
            {
                <div class="alert alert-danger">
                    <strong>Error! </strong> @Html.Raw(ViewBag.Message)
                </div>
            }
        }

        <div class="form-group">
            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @placeholder = "UserId", @required = "required" })
            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @required = "required" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline">@Html.CheckBoxFor(m => m.RememberMe) Remember me</label>
            <a href="/User/ForgotPassword" class="pull-right">Forgot Password?</a>
        </div>
    }
</div>
<script>
    $(".login").hide();
    $(".Register").show();
</script>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
