@using CaptchaMvc.HtmlHelpers
@model DataCollection.Models.RegisterViewModel

@{
    ViewBag.Title = "Registration";
}
<link href="~/Content/registration.css" rel="stylesheet" />

<div class="row bs-wizard" style="border-bottom:0;padding-top: 30px;width: 79%;margin-left: 240px;">

    <div class="col-xs-3 bs-wizard-step active">
        <div class="text-center bs-wizard-stepnum">Step 1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><b>User Registration</b></div>
    </div>

    <div class="col-xs-3 bs-wizard-step">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">Step 2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">User Confirmation</div>
    </div>

    <div class="col-xs-3 bs-wizard-step">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">Step 3</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Authorisation by Admin</div>
    </div>
</div>

<div class="login-form signup-form">
    @using (Html.BeginForm("Registration", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="text-center">Register</h2>
        if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong>@ViewBag.Message
                </div>
            }
        }
        else if (ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status) && ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Error! </strong>@ViewBag.Message                
            </div>
        }
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @placeholder = "UserId", @required = "required", @maxlength = "20" })
            @Html.ValidationMessageFor(m => m.UserId)
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.UserPassword, new { @type = "password", @class = "form-control", @placeholder = "Password", @required = "required", @maxlength = "20" })
            @Html.ValidationMessageFor(m => m.UserPassword)
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmUserPassword, new { @type = "password", @class = "form-control", @placeholder = "Confirm Password", @required = "required", @maxlength = "20" })
            @Html.ValidationMessageFor(m => m.ConfirmUserPassword)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserEmpNo, new { @type = "number", @class = "form-control", @placeholder = "Emp No", @required = "required", @minlength = "6", @maxlength = "6" })
            @Html.ValidationMessageFor(m => m.UserEmpNo)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.MobileNo, new { @type = "number", @class = "form-control", @placeholder = "Mobile No", @required = "required", @minlength = "10", @maxlength = "10" })
            @Html.ValidationMessageFor(m => m.MobileNo)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserEmail, new { @type = "email", @class = "form-control", @placeholder = "Email", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.UserEmail)
        </div>
        <div class="form-group">
            @Html.TextAreaFor(m => m.UserRemarks, new { @class = "form-control", @placeholder = "User Remarks", @maxlength = "100" })
            @Html.ValidationMessageFor(m => m.UserRemarks)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserWork, "User Work", new { @class = "form-control-label" })
            @Html.DropDownListFor(a => a.UserWork, Model.UserWorkDDLList, "-- Select --", new { @class = "form-control", @placeholder = "Assign UserWork", @required = "required" })
            @Html.ValidationMessageFor(m => m.UserWork, "User Work is required.")
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DeptID, "Department", new { @class = "form-control-label" })
            @Html.DropDownListFor(a => a.DeptID, Model.DeptDDLList, "-- Select --", new { @class = "form-control", @placeholder = "Assign Menu", @required = "required" })
            @Html.ValidationMessageFor(m => m.DeptID, "Department is required.")
        </div>
        <div class="form-group">
            @Html.Captcha("Try another", "Enter the text you see above:", 5, "Captcha Required", true)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    }
</div>
<script>
    $(".login").show();
    $(".Register").hide();
</script>
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

