@model DataAccess.Entity.SricFA


<td align="center" valign="middle">@Html.HiddenFor(m => m.IDNo, new { @class = "idno" })<span class="srno">&nbsp;</span><a style="display:none;" class="deletenew" title="Remove row" href="javascript:;" onclick="removeSRICFARow(event)"> X </a></td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FAName, new { @class = "form-control edit-value big-text", required="true", minLenght = 1, maxLenght = 100, title = "Add Text" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FASRProjQty, new { @class = "form-control edit-value", type = "number", min = 0, max = Int32.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FASRProjOutlay, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FASRProjRcp, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FAICProjQty, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FAICProjOutlay, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.FAICProjRcp, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.ResStaffNPDF, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.ResStaffPC, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.ResStaffPF, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.ResStaffRA, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
<td align="center" valign="middle">@Html.TextBoxFor(m => m.ResStaffRFSR, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>