@model DataCollection.Models.DFNPViewModel

@Html.HiddenFor(m => m.finInfo.DataCaptYM, new { id = "DataCaptYMhid" })
@Html.HiddenFor(m => m.finInfo.DataStatus, new { id = "DataStatushn" })
@Html.HiddenFor(m => m.finInfo.IDNo)

<div class="panel panel-default">
    <div class="panel-body" style="padding-top:5px;padding-bottom:5px;">
        <div class="panel-title pull-right">
            <label class="control-label" style="margin-top:4px;">Select Department for DFNP Form Data :&nbsp;</label>
            @Html.DropDownListFor(m => m.finInfo.EmpDept, DataCollection.FormService.FormCommonMethods.GetDeptDropdownData(), new { @id= "EmpDept", @class = "form-control pull-right", onchange = "onDeptChange(this)" })
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="vertical-align: middle;">Current Financial Year</th>
                <th scope="col" style="vertical-align: middle;">Utilized Amount (INR)</th>
            </tr>
        </thead>
        <tbody id="detailofstd">
            <tr>
                <td>Current Financial Year-2018-19</td>
                <td>@Html.TextBoxFor(m => m.finInfo.FinYear, new { @class = "form-control" }) </td>
            </tr>
            <tr>
                <td>Annual Capital Expenditure on Academic Activities and Resources (excluding expenditure on buildings) (Including SRIC Research & Consultancy projects amount)</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpCapAAR, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Overall</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpLibOverall, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Engineering</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpLibEngg, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Management</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpLibMgmt, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Architecture</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpLibArch, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Expenditure on New Equipment for Laboratories</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpNewEqpLabs, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Expenditure on Engineering Workshops</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpEnggWS, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Expenditure on Studios</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpStudios, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Other expenditure on creation of Capital Assets (excluding expenditure on Land and Building)</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpOtherCapAssets, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Annual Operational Expenditure</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpOperational, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Maintenance of Academic Infrastructure or consumables, other running expenditures etc. (excluding maintenance of hostels and allied services)</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpMaintRun, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Salaries (Teaching Staff)</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpSalT, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Salaries (Non Teaching Staff)</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpSalNT, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Any Other expenditure on Misc1</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpMisc1, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Any Other expenditure on Misc2</td>
                <td>@Html.TextBoxFor(m => m.finInfo.ExpMisc2, new { @class = "form-control decimal calc1", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Total (INR)</td>
                <td>
                    <input type="text" readonly="readonly" name="finInfo.ExpTotal" class="form-control decimal" id="calc1total" />
                </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchFsUGFT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-UG5-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchFsUG5FT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-PG-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchFsPGFT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-PG-PT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchFsPGPT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchSSUGFT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchSSUG5FT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchSSPGFT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.finInfo.SchSSPGPT, new { @class = "form-control decimal calc2", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Total (INR)</td>
                <td><input type="text" readonly="readonly" name="finInfo.SchTotal" class="form-control decimal" id="calc2total" /></td>
            </tr>
        </tbody>
    </table>
</div>
@Html.Partial("ConfirmMessagePartail")

@Html.Partial("ButtonPartail", Model.finInfo)

<script>
    var SaveUrlConstant = {
        SaveUrl: '@Url.Action("SaveDFNPFormData", "Forms")'
    };

    $(document).ready(function () {        
        calculateTotalAll();
        decimalFormat();
    });

    var UrlConstant = {
        Menu: '@DataAccess.Enum.Menu.DFNP.ToString()',
        SerializeFormID: '#DFNPTableform',
        TableDivID: '#DFNPTableDiv'
    };

    $(".table td input[type='number']").on('change keyup paste mouseup', function () {
        bindCalculateAll(this);
    });

    function bindCalculateAll(obj) {
        var num = obj.value.match(/^\d+$/);
        if (num === null) {
            //obj.value = "";
        }
        else {
            calculateTotalAll();
        }
    }

    function calculateTotalAll() {
        var result1 = 0;
        var result2= 0;
        $('input[type="number"].calc1').each(function (index, val) {
            if ($(val).val() != "") {
                result1 += parseInt($(val).val());
            }
        });
        $('input[type="number"].calc2').each(function (index, val) {
            if ($(val).val() != "") {
                result2 += parseInt($(val).val());
            }
        });
        $('#calc1total').val(result1);
        $('#calc2total').val(result2);
    }
</script>