@model DataAccess.Entity.stInfo2

@Html.HiddenFor(m => m.DataCaptYM, new { id = "DataCaptYMhid" })
@Html.HiddenFor(m => m.DataStatus, new { id = "DataStatushn" })
@Html.HiddenFor(m => m.IDNo)

<div class="bd-example">
    <div class="table-responsive-xl ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tuition Fees</th>
                    <th scope="col" colspan="2" width="10%">International</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Undergraduate Fees (US $)</td>
                    <td colspan="2">                    
                        @Html.TextBoxFor(m => m.stFeeUGInt, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>                    
                </tr>
                <tr>
                    <td>Postgraduate Fees (US $)</td>
                    <td colspan="2">
                        @Html.TextBoxFor(m => m.stFeePGInt, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>                    
                </tr>
                <tr>
                    <td>Ph.D (US $)</td>
                    <td colspan="2">
                        @Html.TextBoxFor(m => m.stFeePHDInt, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Regional Rankings Indicator</th>
                    <th scope="col" width="10%">Full Time</th>
                    <th scope="col" width="10%">Part Time</th>
                </tr>
            </thead>            
            <tbody>
                <tr>
                    <td>Undergraduate Exchange Students - Inbound</td>
                    <td>                        
                        @Html.TextBoxFor(m => m.stExchUGInFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.stExchUGInPT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                </tr>
                <tr>
                    <td>Undergraduate Exchange Students - Outbound</td>
                    <td>                        
                        @Html.TextBoxFor(m => m.stExchUGOutFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                    <td>                        
                        @Html.TextBoxFor(m => m.stExchUGOutPT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                </tr>
                <tr>
                    <td>Postgraduate Exchange Students - Inbound</td>
                    <td>                        
                        @Html.TextBoxFor(m => m.stExchPGInFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                    <td>                        
                        @Html.TextBoxFor(m => m.stExchPGInPT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                </tr>
                <tr>
                    <td>Postgraduate Exchange Students - Outbound</td>
                    <td>                        
                        @Html.TextBoxFor(m => m.stExchPGOutFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                    <td>                    
                        @Html.TextBoxFor(m => m.stExchPGOutPT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue })
                    </td>
                </tr>
            </tbody>
        </table>
        <label>Student Exchange Outbound - </label> Students who have attended another university abroad on international exchange programmes for at least one semester during the annual reporting period
        <br />
        <label>Student Exchange Inbound - </label> Students who have attended the institute on international exchange programmes for at least one semester during the annual reporting period
        <br />
    </div>
</div>
@Html.Partial("ConfirmMessagePartail")
@Html.Partial("ButtonPartail", Model)

<script>
    var UrlConstant = {        
        Menu: '@DataAccess.Enum.Menu.ADIR.ToString()',
        SerializeFormID: '#ADIRTableform',
        TableDivID: '#ADIRTableDiv'
    };
</script>