@model DataCollection.Models.DofaPeerViewModel

@Html.HiddenFor(m => m.DataCaptYM, new { id = "DataCaptYMhid" })
@Html.HiddenFor(m => m.DataStatus, new { id = "DataStatushn" })

<style>
    a.nofocus:focus, a.nofocus:hover {
        border: 0 !important;
        background-color: transparent !important;
    }
</style>
@if (Model.DofaPeerData != null || Model.DofaPeerData.Count > 0)
{
    <div class="table-responsive-xl">
        <div class="table-responsive-xl " style="overflow-x:auto !important;">
            <table id="DOFAPEERTable" class="table">
                <thead>
                    <tr>
                        <th scope="col" style="vertical-align: middle;" rowspan="4">Sr.No</th>
                    </tr>
                    <tr>
                        <th scope="col" style="vertical-align: middle;" rowspan="3">EmpNo</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="11">Peer details</th>
                    </tr>
                    
                    <tr>
                        @*<th scope="col">PeerNo</th>*@
                        <th scope="col">Title</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Job Title</th>
                        <th scope="col">Department</th>
                        <th scope="col">Institution</th>
                        <th scope="col">Country</th>
                        <th scope="col">Email (Personal)</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Peer Type (National / International)</th>
                        <th scope="col">Peer Detail</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DofaPeerData.Count; i++)
                    {
                        <tr id="tr_@i">
                            @*<input type="hidden" value="@i" class="DOFAPEERindex" name="Model.DofaPeerData[i].PeerNo" />*@
                            @*@Html.HiddenFor(a => Model.DofaPeerData[i].PeerNo, new { value = @i, @class = "DOFAPEERindex" })*@
                            @Html.HiddenFor(a => Model.DofaPeerData[i].PeerNo, new { value = (i + 1), @class="DOFAPEERindex" })
                            @Html.EditorFor(m => m.DofaPeerData[i], "DofaPeerSinglePartial")
                        </tr>
                    }
                </tbody>
                @if (DataCollection.ManageSession.SessionManager.DataCaptYR > 0 && Model.EmpNo > 0 && 
                    (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataEntryStartedbyOperator && 
                     DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DO.ToString()))
                {
                    <tfoot>
                        <tr>
                            <th scope="col" colspan="13" width="10%" align="left" valign="middle">
                                <button type="button" class="btn btn-default" onclick="AddNewDOFAPEERRow()">Add Row</button>
                            </th>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
    <style>
        input.edit-value {
            min-width: 80px;
        }

        input[type=number].edit-value {
            min-width: 65px !important;
        }

        input.edit-value.big-text {
            min-width: 150px;
        }

        input.datepicker {
            min-width: 120px !important;
        }

        td input {
            margin-left : 1px !important;
        }
        td input.form-control {
            padding: 1px !important;
        }
        table > thead > tr > th {
            vertical-align: middle !important;
        }

        body {
            counter-reset: srnocounter;
        }

        span.srno {
            counter-increment: srnocounter;
        }

            span.srno:after {
                content: counter(srnocounter);
            }

        .input-validation-error {
            border: solid 1px red !important;
        }

        input[value='0'].idno.new + span.srno:hover + a.deletenew {
            display: inline !important;
        }

        input[value='0'].idno.new + span.srno + a.deletenew:hover {
            display: inline !important;
        }

        a.deletenew {
            color: red;
            font: bold;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
    @Html.Partial("ConfirmMessagePartail")    

    <ul class="list-inline" id="buttonUL" style="display:none;">
        <li class="list-inline-item" style="color: #933;font-weight:bold">Data Status Level: </li>
        <li class="list-inline-item" style="width:40%"><input id="DataStatusLevel" width="50%" type="text" readonly="readonly" class="form-control" value="@Model.DataStatusName" /></li>
        <li class="list-inline-item no-print" style="float:right"><button type="button" class="btn btn-primary" onclick="window.print();">Preview</button></li>
        @if (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataEntryStartedbyOperator && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DO.ToString())
        {
            if (Model.EmpNo <= 0)
            {
                <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizeCfrm" class="btn btn-primary">Finalize</button></li>
            }
            else
            {
                <li class="list-inline-item no-print" style="float:right"><button type="submit" id="btnSave" class="btn btn-primary">Save</button></li>
            }
        }
        else
        {
            if (Model.EmpNo <= 0)
            {
                if ((Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataEntryCompletedbyOperator || Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataCheckingbyHOD) && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.HOD.ToString())
                {
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizedByHodCfrm" class="btn btn-primary">Finalize</button></li>
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationHodCfrm" class="btn btn-primary">Modification Needed</button></li>
                }
                else if ((Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataCheckingCompletedbyHOD || Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataSenttoAssoDEAN) && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.ADSRIC.ToString())
                {
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizedByAssoDeanCfrm" class="btn btn-primary">Finalize</button></li>
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationADeanCfrm" class="btn btn-primary">Modification Needed</button></li>
                }
                else if (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataCheckedbyAssoDEAN && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DSRIC.ToString())
                {
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizedByDeanCfrm" class="btn btn-primary">Finalize</button></li>
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationDeanCfrm" class="btn btn-primary">Modification Needed</button></li>
                }
                else if (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataLocked && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DSRIC.ToString())
                {
                    <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationDeanCfrm" class="btn btn-primary">Modification Needed</button></li>
                }
            }
        }
    </ul>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".table td input[type='number']").forceNumeric();
            if ('@DataCollection.ManageSession.SessionManager.DataCaptYR' == '0' || '@Model.DataStatus' != '@((int)DataAccess.Enum.DataStatus.DataEntryStartedbyOperator)' || '@DataCollection.ManageSession.SessionManager.UserWork' != '@DataAccess.Enum.UserWork.DO.ToString()') {
                $(".table td input").attr('readonly', true);
            }
        });

        var buttonIds = '#btnSave, #btnFinalize, #btnModification, #btnFinalizedByHod, #btnFinalizedByAssoDean, #btnFinalizedByDean, #btnModificationHod, #btnModificationADean, #btnModificationDean';
        $(buttonIds).click(function (e) {
            SaveFormData(e, this);
        });

        var SaveUrlConstant = {
            SaveUrl: '@Url.Action("SaveDofaPeerFormData", "Forms")'
        };

        var UrlConstant = {
            Menu: '@DataAccess.Enum.Menu.DOFAPEER.ToString()',
            SerializeFormID: '#DOFAPEERTableform',
            TableDivID: '#DOFAPEERTableDiv'
        };

        function AddNewDOFAPEERRow() {
            var trclone = $("<tr class='newrow'>"+$("#DOFAPEERTable tbody tr:last").html()+"</tr>");
            var PeerFacIndex = trclone.find("input.DOFAPEERindex");
            var PeerFacIndexVal = parseInt(PeerFacIndex.val());
            trclone.find("input").each(function (e) {
                var _el = $(this);
                _el.removeAttr("id");
                if (_el.attr("name")) {
                    _el.attr("name", _el.attr("name").replace(PeerFacIndexVal, PeerFacIndexVal + 1));
                }

                if (!_el.hasClass("empNo")) {
                    _el.val("");
                }

                if (_el.hasClass("idno")) {
                    _el.addClass("new");
                    _el.val("0");
                }
            });
            PeerFacIndex.val(PeerFacIndexVal + 1);
            trclone.appendTo("#DOFAPEERTable tbody");
            trclone.attr("id", "tr_" + PeerFacIndex.val());
        }

        function removeDOFAPEERRow(e) {
            var _curenttr = $(e.target).parents("tr.newrow")[0];
            var currentIndex = parseInt($(_curenttr).find("input.DOFAPEERindex").val());
            $(_curenttr).remove();

            $("#DOFAPEERTable tbody tr.newrow").each(function () {
                var _tr = $(this);
                _tr.find("input").each(function (e) {
                    var _el = $(this);
                    _el.removeAttr("id");
                    if (_el.attr("name")) {
                        _el.attr("name", "DofaPeerData[" + currentIndex + "]." + _el.attr("name").split(".")[1]);
                    }
                });
                currentIndex++;                
            });
        }        
    </script>
}

@Html.Partial("AlertMessagePartail")