@model DataCollection.Models.FinInfo 

@Html.HiddenFor(m => m.DataCaptYM, new { id = "DataCaptYMhid" })
@Html.HiddenFor(m => m.DataStatus, new { id = "DataStatushn" })
@Html.HiddenFor(m => m.IDNo)

<div class="table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="vertical-align: middle;">Current Financial Year</th>
                <th scope="col" style="vertical-align: middle;">Utilized Amount (INR)</th>
            </tr>
        </thead>
        <tbody id="detailofstd">
            <tr>
                <td>Current Financial Year-2018-19</td>
                <td>@Html.TextBoxFor(m => m.FinYear, new { @class = "form-control" }) </td>                
            </tr>
            <tr>
                <td>Annual Capital Expenditure on Academic Activities and Resources (excluding expenditure on buildings) (Including SRIC Research & Consultancy projects amount)</td>
                <td>@Html.TextBoxFor(m => m.ExpCapAAR, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Overall</td>
                <td>@Html.TextBoxFor(m => m.ExpLibOverall, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Engineering</td>
                <td>@Html.TextBoxFor(m => m.ExpLibEngg, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Management</td>
                <td>@Html.TextBoxFor(m => m.ExpLibMgmt, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Library Expenditure - Architecture</td>
                <td>@Html.TextBoxFor(m => m.ExpLibArch, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Expenditure on New Equipment for Laboratories</td>
                <td>@Html.TextBoxFor(m => m.ExpNewEqpLabs, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Expenditure on Engineering Workshops</td>
                <td>@Html.TextBoxFor(m => m.ExpEnggWS, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Expenditure on Studios</td>
                <td>@Html.TextBoxFor(m => m.ExpStudios, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Other expenditure on creation of Capital Assets (excluding expenditure on Land and Building)</td>
                <td>@Html.TextBoxFor(m => m.ExpOtherCapAssets, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Annual Operational Expenditure</td>
                <td>@Html.TextBoxFor(m => m.ExpOperational, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Maintenance of Academic Infrastructure or consumables, other running expenditures etc. (excluding maintenance of hostels and allied services)</td>
                <td>@Html.TextBoxFor(m => m.ExpMaintRun, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Salaries (Teaching Staff)</td>
                <td>@Html.TextBoxFor(m => m.ExpSalT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Salaries (Non Teaching Staff)</td>
                <td>@Html.TextBoxFor(m => m.ExpSalNT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Any Other expenditure on Misc1</td>
                <td>@Html.TextBoxFor(m => m.ExpMisc1, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Any Other expenditure on Misc2</td>
                <td>@Html.TextBoxFor(m => m.ExpMisc2, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Total (INR)</td>
                <td>
                    <input type="text" readonly="readonly" name="ExpTotal" class="form-control" id="UgftTotal" />
                </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.SchFsUGFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-UG5-FT</td>
                <td>@Html.TextBoxFor(m => m.SchFsUG5FT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-PG-FT</td>
                <td>@Html.TextBoxFor(m => m.SchFsPGFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Fellowships-PG-PT</td>
                <td>@Html.TextBoxFor(m => m.SchFsPGPT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.SchSSUGFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.SchSSUG5FT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.SchSSPGFT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Scholarship: Any Special Scholarships-UG-FT</td>
                <td>@Html.TextBoxFor(m => m.SchSSPGPT, new { @class = "form-control", @type = "number", @min = 0, @max = Int32.MaxValue }) </td>
            </tr>
            <tr>
                <td>Total (INR)</td>
                <td><input type="text" readonly="readonly" name="SchTotal" class="form-control" id="UgftTotal" /></td>
            </tr>
        </tbody>      
    </table>    
</div>
@Html.Partial("ConfirmMessagePartail")

@Html.Partial("ButtonPartail", Model)

<script>
    $(document).ready(function () {
        //CalculateTotal();
    });

    var UrlConstant = {        
        Menu: '@DataAccess.Enum.Menu.DOAA.ToString()',
        SerializeFormID: '#FPInfoTableform',
        TableDivID: '#FPInfoTableDiv'
    };

    $(".table td input[type='number']").on('change keyup paste mouseup', function () {
        bindCalculateTotal(this);
    });
</script>