@model DataCollection.Models.SricDeptViewModel

@Html.HiddenFor(m => m.DataCaptYM, new { id = "DataCaptYMhid" })
@Html.HiddenFor(m => m.DataStatus, new { id = "DataStatushn" })

@if (Model.SricDeptData != null || Model.SricDeptData.Count > 0)
{
<div class="table-responsive-xl">
    @for (int i = 0; i < Model.SricDeptData.Count; i++)
    {
        @Html.HiddenFor(m => m.SricDeptData[i].IDNo);
        @Html.HiddenFor(m => m.SricDeptData[i].DeptID);
    }

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <i class="more-less glyphicon glyphicon-minus"></i>
                    <h4 class="panel-title">Sponsored Research Projects (Deptt.-wise)</h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Department</th>
                                    <th align="center" valign="middle">No. of Project</th>
                                    <th align="center" valign="middle">Total No. of Funding Agencies</th>
                                    <th align="center" valign="middle">Total Outlay</th>
                                    <th align="center" valign="middle">Total Receipt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].SRProjQty, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].SRFAQty, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].SRProjOutlay, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].SRProjRcp, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    <h4 class="panel-title">Consultancy Projects (Deptt.-wise)</h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Department</th>
                                    <th align="center" valign="middle">No. of Project</th>
                                    <th align="center" valign="middle">Total No. of Sponsors</th>
                                    <th align="center" valign="middle">Contracted Amount</th>
                                    <th align="center" valign="middle">Actual Receipt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ICProjQty, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ICFAQty, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ICProjOutlay, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ICProjRcp, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    <h4 class="panel-title">Conference / Symposia / Seminars</h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Department</th>
                                    <th align="center" valign="middle">National</th>
                                    <th align="center" valign="middle">Expenditure</th>
                                    <th align="center" valign="middle">International</th>
                                    <th align="center" valign="middle">Total Expenditure</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ConfSSNat, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ConfSSNatExp, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ConfSSInt, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].ConfSSIntExp, new { @class = "form-control edit-value decimal", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    <h4 class="panel-title">Details of Intellectual Property</h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Details of Intellectual Property</th>
                                    <th align="center" valign="middle">Patents Filed</th>
                                    <th align="center" valign="middle">Patent Published</th>
                                    <th align="center" valign="middle">Patent Granted</th>
                                    <th align="center" valign="middle">Patent Licensed</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].IPRFiled, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].IPRPub, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].IPRGranted, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].IPRLicensed, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    <h4 class="panel-title">Details of Technology Transfer</h4>
                </a>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Details of Technology Transfer</th>
                                    <th align="center" valign="middle">Filed</th>
                                    <th align="center" valign="middle">Published</th>
                                    <th align="center" valign="middle">Granted</th>
                                    <th align="center" valign="middle">Licensed</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].TechXferFiled, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].TechXferPub, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].TechXferGranted, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].TechXferLicensed, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    <h4 class="panel-title">Details of Copy Rights</h4>
                </a>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Details of Copy Rights</th>
                                    <th align="center" valign="middle">Filed</th>
                                    <th align="center" valign="middle">Published</th>
                                    <th align="center" valign="middle">Granted</th>
                                    <th align="center" valign="middle">Licensed</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].CopyRightsFiled, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].CopyRightsPub, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].CopyRightsGranted, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].CopyRightsLicensed, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    <h4 class="panel-title">Details of Logo/Design Copy Rights</h4>
                </a>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="center" valign="middle">Details of Logo/Design Copy Rights</th>
                                    <th align="center" valign="middle">Filed</th>
                                    <th align="center" valign="middle">Published</th>
                                    <th align="center" valign="middle">Granted</th>
                                    <th align="center" valign="middle">Licensed</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SricDeptData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.SricDeptData[i].DeptName</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].LogoDesignFiled, new { @class = "form-control edit-value", type = "number", required = "true", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].LogoDesignPub, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].LogoDesignGranted, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                        <td>@Html.TextBoxFor(m => m.SricDeptData[i].LogoDesignLicensed, new { @class = "form-control edit-value", type = "number", min = 0, max = int.MaxValue, title = "Add Number" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
    <style>
        input.edit-value {
            min-width: 120px;
        }

        table > thead > tr > th {
            vertical-align: middle !important;
        }

        .panel-heading > a {
            outline: none !important;
        }
        #accordion .panel-body {
            padding:0px !important;
        }
    </style>
    @Html.Partial("ConfirmMessagePartail")


    <ul class="list-inline" id="buttonUL" style="display:none">
        <li class="list-inline-item" style="color: #933;font-weight:bold">Data Status Level: </li>
        <li class="list-inline-item" style="width:40%"><input id="DataStatusLevel" width="50%" type="text" readonly="readonly" class="form-control" value="@Model.DataStatusName" /></li>
        <li class="list-inline-item no-print" style="float:right"><button type="button" class="btn btn-primary" onclick="window.print();">Preview</button></li>
        @if (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataEntryStartedbyOperator && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DO.ToString())
        {
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizeCfrm" class="btn btn-primary">Finalize</button></li>
            <li class="list-inline-item no-print" style="float:right"><button type="submit" id="btnSave" class="btn btn-primary">Save</button></li>
        }
        else if ((Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataEntryCompletedbyOperator || Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataCheckingbyHOD) && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.HOD.ToString())
        {
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizedByHodCfrm" class="btn btn-primary">Finalize</button></li>
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationHodCfrm" class="btn btn-primary">Modification Needed</button></li>
        }
        else if ((Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataCheckingCompletedbyHOD || Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataSenttoAssoDEAN) && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.ADSRIC.ToString())
        {
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizedByAssoDeanCfrm" class="btn btn-primary">Finalize</button></li>
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationADeanCfrm" class="btn btn-primary">Modification Needed</button></li>
        }
        else if (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataCheckedbyAssoDEAN && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DSRIC.ToString())
        {
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#myModal" id="btnFinalizedByDeanCfrm" class="btn btn-primary">Finalize</button></li>
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationDeanCfrm" class="btn btn-primary">Modification Needed</button></li>
        }
        else if (Model.DataStatus == (int)DataAccess.Enum.DataStatus.DataLocked && DataCollection.ManageSession.SessionManager.UserWork == DataAccess.Enum.UserWork.DSRIC.ToString())
        {
            <li class="list-inline-item no-print" style="float:right"><button type="button" data-toggle="modal" data-target="#NeedModificationModal" id="btnModificationDeanCfrm" class="btn btn-primary">Modification Needed</button></li>
        }

    </ul>

    <script>
    $(document).ready(function () {
        $(".table td input[type='number']").forceNumeric();
        if ('@Model.DataStatus' != '@((int)DataAccess.Enum.DataStatus.DataEntryStartedbyOperator)' || '@DataCollection.ManageSession.SessionManager.UserWork' != '@DataAccess.Enum.UserWork.DO.ToString()') {
            $(".table td input").attr('readonly', true);
        }
        setTooltip();
        
        $('.decimal').each(function () {
            var value = parseFloat(this.value);// some mathematical equation to work out value
            if ($(this).val().indexOf('.') != -1) {
                if ($(this).val().split(".")[1].length > 2) {
                    if (isNaN(parseFloat(this.value))) return;
                    $(this).val((value).toFixed(2));
                }
            }            
        });

        $('.decimal').keyup(function () {
            if ($(this).val().indexOf('.') != -1) {
                if ($(this).val().split(".")[1].length > 2) {
                    if (isNaN(parseFloat(this.value))) return;
                    this.value = parseFloat(this.value).toFixed(2);
                }
            }
            return this; //for chaining
        });        
    });

    var buttonIds = '#btnSave, #btnFinalize, #btnModification, #btnFinalizedByHod, #btnFinalizedByAssoDean, #btnFinalizedByDean, #btnModificationHod, #btnModificationADean, #btnModificationDean';
    $(buttonIds).click(function (e) {
        SaveFormData(e, this);
    });

    var SaveUrlConstant = {
        SaveUrl: '@Url.Action("SaveSricDeptFormData", "Forms")'
    };

        var UrlConstant = {
        Menu: '@DataAccess.Enum.Menu.SRIC.ToString()',
        SerializeFormID: '#SRICTableform',
        TableDivID: '#SRICTableDiv'
        };

    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
}